<div class="panel-body">
    <div class="row" align="center">
        <div class=" col-md-20 col-lg-20" align="center">
            <a href="#" class="btn btn-warning" ng-disabled="doingRefresh" confirmed-click="startNewTransfer()" ng-confirm-click="Proceed to run a new transfer?">New transfer
            <i class="fa fa-spinner fa-spin" ng-show="transferring"></i></a>
            
            <a href="#/settings" id="btnSettings" class="btn btn-primary pull-right margin-left margin-right" ng-click="$broadcast('refreshSettings')">Settings ></a>

            <a target="_blank" href="../../../dhis-web-event-capture/index.html" class="btn btn-info pull-right margin-left">Event Capture App</a>
            <a target="_blank" href="../../../dhis-web-tracker-capture/index.html" class="btn btn-success pull-right">Tracker Capture App</a>

            <table class="table table-md table- table-user-information">
                <tbody>
                <tr>
                    <td>Last successful run</td>
                    <td>{{settings.startDate.toString()}}</td>
                </tr>
                <tr>
                    <td>New enrollments in tracker programs:</td>
                    <td>{{allNewEnrollments.length}}</td>
                </tr>
                
                <tr>
                    <td><b>Total number of enrollments in tracker programs:</b></td>
                    <td>{{allEnrollments.length}}</td>
                </tr>
                <tr>
                    <td><b>Total number of events in event programs:</b></td>
                    <td>{{allEvents.length}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>

<div ng-show='errorReport.hasErrors'>
    <alert ng-repeat="error in errorReport.array track by $index" class="alert-warning"  close="closeAlert($index)">
        <p><strong>{{error.header}}!</strong> {{error.info}}</p>
        <small>{{error.time}}</small>
    </alert>
</div>

