<div class="panel-body">
    <div class="row">
        <a href="#/main" class="btn btn-primary pull-left margin-left">< Back to home</a>
        <a class="btn btn-success pull-right margin-right" ng-click="saveSettings()">Save settings</a>
    </div>
    <div ng-show='errorReport.hasErrors'>
    <alert ng-repeat="error in errorReport.array track by $index" class="alert-warning"  close="closeAlert($index)">
        <p><strong>{{error.header}}!</strong> {{error.info}}</p>
    </alert>
</div>
    <div class="col-md-12">
      <div class="row">
      <div class="control-group" id="fields">
          <button class="btn btn-default btn-xs" ng-click="openSection(0)"><span>{{sections.icons[0]}}</span></button>
          <label class="control-label" for="field1">
            <h4>Links between event and tracker programs</h4>
          </label>
          <div ng-show="sections.array[0]" ng-repeat="link in settings.programLinks" class="controls">
            <form role="form" autocomplete="off">
              <div class="entry input-group col-xs-12">
                <div class="col-xs-5">
                <span class="form-control" placeholder="Event program">{{link.eventProgram.name}}</span>
                </div>
                <div class="col-xs-5">
                <span class="form-control" placeholder="Event program">{{link.trackerProgram.name}}</span>
                </div>
                <span class="input-group-btn col-xs-2">
                    <button class="btn btn-danger btn-add" ng-click="removeProgramLink($index)" type="button">Delete</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="  sections.array[0]" class="col-md-12">
      <div class="row">
      <div class="control-group" id="fields">
      New link:
          <div class="controls">
            <form role="form" autocomplete="off">
              <div class="entry input-group col-xs-12">
                <div class="col-xs-5">
                <select class="form-control" placeholder="Event program"
                ng-options="ep.name for ep in eventPrograms"
                ng-model="selectedEventProgram">
                <option value="" selected="selected">-- Event programs --</option>
                </select>
                </div>
                <div class="col-xs-5">
                <select class="form-control" hint="Hola" placeholder="Event program"
                ng-model="selectedTrackerProgram" 
                ng-options="tp.name for tp in trackerPrograms">
                <option value="" selected="selected">-- Tracker programs --</option>
                </select>
                </div>
                <span class="input-group-btn col-xs-2">
                    <button class="btn btn-success btn-add" ng-click="addLink()" type="button">Add</button>
                </span>
              </div>
            </form>
          </div>
        </div>
        </div>
    </div>
    <div class="col-md-12">
      <div class="row">
      <div class="control-group" id="fields">
      <button class="btn btn-default btn-xs" ng-click="openSection(1)"><span>{{sections.icons[1]}}</span></button>
      <label class="control-label" for="field1">
            <h4>Mapping between Attributes and Data Elements</h4>
      </label>
      <div ng-show="sections.array[1]">
      <div class="row">
            <div class="col-xs-6">
                Attributes
            </div>
            <div class="col-xs-6">
                Individual data elements
            </div>
      </div>    
          <div class="controls">
            <form role="form" autocomplete="off">
              <div ng-repeat="a in allAttributes" class="entry input-group col-xs-12">
                <div class="col-xs-5">
                <span class="form-control col-xs-6">
                {{a.name}}
                </span>
                </div>
                <div class="col-xs-5">
                <select class="form-control col-xs-6"
                ng-options="de.name for de in allIndividualDataElements.array track by de.id" 
                ng-model="a.mappedDataElement"
                ng-change="newMapping(a)">
                <option value="" selected="selected">-- Select the data element --</option>
                </select>
                </div>
                <div class="col-xs-2">
                <button class="btn btn-sm btn-danger btn-add" ng-click="removeAttributeMapping($index)" type="button">-</button>
                </div>
              </div>
            </form>
          </div>
          </div>
        </div>
        </div>
    </div>
  <div class="col-md-12">
    <div class="row">
    <div class="control-group" id="fields">
    <button class="btn btn-default btn-xs" ng-click="openSection(2)"><span>{{sections.icons[2]}}</span></button>
    <label class="control-label" for="field1">
          <h4>Mapping between Program Indicators and Data Elements</h4>
    </label>
    <div ng-show="sections.array[2]" ng-repeat="link in settings.programLinks">
    > <button class="btn btn-default btn-xs" ng-click="openProgramSection(link.trackerProgram.id)"><span>{{showPIFromPrograms[link.trackerProgram.id].icon}}</span></button>
    <label class="control-label" for="field1">
          <h5>Program Indicators for mapping <strong>{{link.trackerProgram.name}}</strong> tracker program:</h5>
    </label>
    <div ng-show = "showPIFromPrograms[link.trackerProgram.id].value" class="row">
            <div class="col-xs-6">
                Program Indicators
            </div>
            <div class="col-xs-6">
                Individual data elements
            </div>
      </div>  
          <div ng-show="showPIFromPrograms[link.trackerProgram.id].value" class="controls">
            <form role="form" autocomplete="off">
              <div ng-repeat="pi in allProgramIndicators[link.trackerProgram.id]" class="entry input-group col-xs-12">
                <div class="col-xs-5">
                <span class="form-control col-xs-6" style="overflow: auto;">
                {{pi.name}}
                </span>
                </div>
                <div class="col-xs-5">
                <select class="form-control col-xs-6"
                ng-options="de.name for de in allIndividualDataElements.array track by de.id" 
                ng-model="pi.mappedDataElement"
                ng-change="newPIMapping(pi)">
                <option value="" selected="selected">-- Select the data element --</option>
                </select>
                </div>
                <div class="col-xs-2">
                <button class="btn btn-sm btn-danger btn-add" ng-click="removePIMapping($index,link.trackerProgram.id)" type="button">-</button>
                </div>
              </div>
            </form>
          </div>
    
    </div>
    </div>
    </div>
  </div>


    <div class="row" align="center">
        <a class="btn btn-success text-center" ng-click="saveSettings()">Save settings</a>
    </div>
</div>