<html lang="en" ng-app="App" ng-controller="AppController">
<head>
  <title>Data flow app</title>
	<link rel="stylesheet" href="lib/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<!-- Stylesheets related to the menu -->
    <link type="text/css" rel="stylesheet" href="../../../dhis-web-commons/font-awesome/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" media="screen" href="../../../dhis-web-commons/css/menu.css">
    <link type="text/css" rel="stylesheet" media="screen" href="../../../dhis-web-commons/css/light_blue/light_blue.css?_rev=22006" />
</head>
<body>
<div id="header">
        <img id="headerBanner" src="../../../	dhis-web-commons/css/light_blue/logo_banner.png" onclick="window.location.href='../../../dhis-web-dashboard-integration/index.action'"
             style="cursor:pointer" title="View home page">

        <span id="headerText" onclick="window.location.href='../../../dhis-web-dashboard-integration/index.action'" style="cursor:pointer" title="View home page">
                    {{systemSettings.applicationTitle}}
         </span>

        <div id="dhisDropDownMenu" class="pull-right"></div>

 </div> 
 <!-- DHIS2 Settings initialization for a baseUrl that is used for the menu -->
 <script>
 window.dhis2 = window.dhis2 || {};
 dhis2.settings = dhis2.settings || {};
 dhis2.settings.baseUrl = 'demo'; //change with your instance name
 </script>
 <!-- Menu scripts -->
 <script type="text/javascript" src="../../../dhis-web-commons/javascripts/jQuery/
jquery.min.js"></script>
 <script type="text/javascript" src="../../../dhis-web-commons/javascripts/dhis2/
dhis2.translate.js"></script>
 <script type="text/javascript" src="../../../dhis-web-commons/javascripts/dhis2/
dhis2.menu.js"></script>
 <script type="text/javascript" src="../../../dhis-web-commons/javascripts/dhis2/
dhis2.menu.ui.js"></script>
<div class="container center">
	<div class="row">
		<div class="col-xs-18 col-sm-18 col-md-18 col-lg-18 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Individual Data flow: From tracker to event</h3>
					<a id="refreshBtn" ng-disabled="doingRefresh" class="btn" ng-click="$emit('maintenance')">
                		Refresh
                	<i class="fa fa-spinner fa-spin" ng-show="doingRefresh"></i>
            		</a>
				</div>
				<div ng-view></div>
				
			</div>
		</div>
	</div>
</div>

<script src="jquery.min.js"></script>

<!-- Angular libraries -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/angular-touch.js"></script>

<!-- Third party libraries -->
<script src="lib/bower/lodash/dist/lodash.js"></script>
<script src="lib/bower/restangular/dist/restangular.js"></script>
<script src="lib/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script src="lib/moment.js"></script>

<script src="js/app.js"></script>
<script src="js/services/dhis2api.js"></script>
<script src="js/controllers/main.js"></script>

</body>
</html>
